In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('A Track 학습셋.csv')
data

,Log_Number,payload,label_action
0,0,"GET /forum1_professionnel.asp?n=/.\\\""./.\\\""....",System_Cmd_Execution
1,1,POST /owa/auth/logon.aspx?replaceCurrent=1%22%...,System_Cmd_Execution
2,2,GET /goods/goods_search?display_type=list&arr_...,SQL_Injection
3,3,GET / HTTP/1.1\r\n\r\n,HOST_Scan
4,4,GET /sub_04_1_read.php?page=1&id=31%29%3BSELEC...,System_Cmd_Execution
...,...,...,...
44995,44995,GET /app/javascript/js/skin-responsive.js?v=%3...,System_Cmd_Execution
44996,44996,GET /board/?category=type+%25SYSTEMROOT%25%5Cw...,System_Cmd_Execution
44997,44997,POST /sub_02_4.php HTTP/1.1\r\nContent-Length:...,SQL_Injection
44998,44998,GET /admin/myadmin HTTP/1.1\r\nHost: lab.colle...,Path_Disclosure
44999,44999,GET /goods/goods_search?display_type=list&arr_...,Vulnerability_Scan

In [6]:
data['label_action'].value_counts()

label_action
Vulnerability_Scan               16867
System_Cmd_Execution              9807
HOST_Scan                         6315
Path_Disclosure                   4775
SQL_Injection                     3395
Cross_Site_Scripting              1348
Automatically_Searching_Infor     1119
Leakage_Through_NW                 956
Directory_Indexing                 418
Name: count, dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Log_Number    45000 non-null  int64
 1   payload       45000 non-null  object
 2   label_action  45000 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.0+ MB